@model FoodOrder.Models.Products

@{
    ViewBag.Title = "CreateNewProduct";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>
            Tạo mặt hàng mới
        </h2>
        <h3 class="text-success">@ViewBag.TextSuccess</h3>
        <h3 class="text-warning">@ViewBag.ErrorMessage</h3>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Products</a></li>
            <li class="active">New Product</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                @using (Html.BeginForm("CreateNewProduct",
                        "Products",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="box box-primary">
                        <div class="box-header">
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="box-body">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductName, "Tên sản phẩm", htmlAttributes: new { @class = " " })

                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductPrice, "Giá sản phẩm", htmlAttributes: new { @class = " " })

                                    @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductPicture, "Ảnh sản phẩm", htmlAttributes: new { @class = " " })

                                    <input type="file" name="file" id="file">
                                    @ViewBag.Message

                                    @*@Html.EditorFor(model => model.ProductPicture, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.ProductPicture, "", new { @class = "text-danger" })

                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.FKProductType, "Chọn loại mặt hàng", htmlAttributes: new { @class = "" })
                           
                                        @Html.DropDownListFor(model => model.FKProductType, (SelectList)ViewBag.ProductTypes, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FKProductType, "", new { @class = "text-danger" })
                           
                                </div>


                            </div><!-- /.box-body -->
                            <div class="form-group">
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </section>
</div>