@model FoodOrder.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<style>
    .box-custom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="content-wrapper">
    <div class="box-header">
        <h3 class="box-title">Danh sách đặt hàng của sản phẩm</h3>
    </div><!-- /.box-header -->
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile box-custom">
                <img class="profile-user-img img-responsive img-circle" src="/@Model.ProductPicture" alt="Product Picture" style="width: 300px">
                <h3 class="profile-username text-center">@Model.ProductName</h3>
                <p class="text-muted text-center">Giá: @Model.ProductPrice</p>
                <p class="text-muted text-center">Loại mặt hàng: @Model.ProductTypes.ProductTypeName</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Lịch sử đặt hàng</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    @{
                        var grid = new WebGrid(Model.Orders, rowsPerPage: 10);
                    }
                    @grid.GetHtml(
                        tableStyle: "custom-table",
                        headerStyle: "thead-dark",
                        fillEmptyRows: false,
                        alternatingRowStyle: "even-row",
                        columns: grid.Columns(
                            grid.Column("FkInvoiceID", "Mã sản phẩm"),
                            grid.Column("Order_Date", "Ngày đặt"),
                            grid.Column("Qty", "Số lượng"),
                            grid.Column("Unit_Price", "Giá tiền", format: @<text>$@item.Unit_Price</text>),
                            grid.Column("Order_Bill", "Tổng giá tiền", format: @<text>$@item.Order_Bill</text>),
                            grid.Column(format: @<text>@item.Products.ProductName</text>, header: "Tên sản phẩm"),
                            grid.Column(format: @<text>
                                         @if (item.InvoiceModels.Status == 0)
                                         {
                                            <span class="label label-primary">Chờ xác nhận</span>
                                         }
                                         else if (item.InvoiceModels.Status == 1)
                                            {
                                            <span class="label label-warning">Đang giao hàng</span>
                                         }
                                         else if (item.InvoiceModels.Status == 2)
                                         {
                                            <span class="label label-success">Đã giao hàng</span>
                                         }
                                         else if (item.InvoiceModels.Status == 3)
                                         {
                                            <span class="label label-danger">Đã hủy</span>
                                         }
                                </text> , header: "Trạng thái")
                             )
                         )

                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
