@model IEnumerable<FoodOrder.Models.Products>

@{
    ViewBag.Title = "ViewProductsAdmin";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-3">
                <h3>Sản phẩm</h3>
            </div>
            <div class="col-md-6">
                <form class="form-inline pull-left" role="search" action="/Products/ViewProductsAdmin" method="GET">
                    <div class="form-group">
                        <label for="name">Search:</label>
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Nhập tên sản phẩm..." aria-label="Search" name="productName">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Products</a></li>
            <li class="active">List</li>
        </ol>


    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Details</h3>
                        <h3 class="text-success">@TempData["SuccessMessage"]</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                                <th>@Html.DisplayNameFor(model => model.ProductTypes.ProductTypeName)</th>
                                <th>@Html.DisplayNameFor(model => model.ProductPrice)</th>
                                <th>@Html.DisplayNameFor(model => model.ProductPicture)</th>
                                <th>Action</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ProductTypes.ProductTypeName)</td>
                                    <td><span class="label label-success">@Html.DisplayFor(modelItem => item.ProductPrice)</span></td>
                                    <td><img class="product__img img-fluid" sty" width="200" height="200" src="~/@Html.DisplayFor(modelItem => item.ProductPicture)" alt=""></td>
                                    <td>
                                        @Html.ActionLink("Chỉnh sửa", "EditProduct", new { id = item.id }, new { @class = "btn btn-block btn-success" })
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.id }, new { @class = "btn btn-info btn-block" })
                                        <p class="btn btn-danger btn-block"
                                                onclick="if (confirm('bạn có chắc bạn muốn xóa mục này ?'))
                                                {
                                                    window.location.href = '@Url.Action("Delete", "Products", new { id = item.id }  )';
                                                }">
                                            Xóa sản phẩm
                                        </p>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section>
</div>