@model IEnumerable<FoodOrder.Models.Products>

@{
    ViewBag.Title = "ViewProductsAdmin";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Products
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Products</a></li>
            <li class="active">List</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Details</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                                <th>@Html.DisplayNameFor(model => model.ProductTypes.ProductTypeName)</th>
                                <th>@Html.DisplayNameFor(model => model.ProductPrice)</th>
                                <th>@Html.DisplayNameFor(model => model.ProductPicture)</th>
                                <th>Action</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                            <td>@Html.DisplayFor(modelItem => item.ProductTypes.ProductTypeName)</td>
                            <td><span class="label label-success">@Html.DisplayFor(modelItem => item.ProductPrice)</span></td>
                            <td><img class="product__img img-fluid" sty" width="200" height="200" src="~/@Html.DisplayFor(modelItem => item.ProductPicture)" alt=""></td>
                            <td>
                                <button class="btn btn-block btn-success">@Html.ActionLink("Edit", "EditProduct", new { id = item.id }, htmlAttributes: new { @class = "clbtn" })</button>
                                <button class="btn btn-block btn-info">@Html.ActionLink("Details", "Details", new { id = item.id })</button>
                                <button class="btn btn-block btn-danger"
                                        onclick="if (confirm('Are you sure you want to delete this item?')) {window.location.href = '@Url.Action("Delete", "Products", new { id = item.id })';}">
                                    Delete
                                </button>
                            </td>
                        </tr>
                            }
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section>
</div>