@model IEnumerable<FoodOrder.Models.InvoiceModels>

@{
    ViewBag.Title = "ListOfInvoices";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh sách hóa đơn
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">List </li>
        </ol>
    </section>
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Mã hóa đơn</th>
                                        <th>User Name</th>
                                        <th>Address</th>
                                        <th>Total Bill</th>
                                        <th>Invoice Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.InvoiceID)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Users.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Users.Address) </td>
                                        <td>@Html.DisplayFor(modelItem => item.Total_Bill)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DateInvoice)</td>
                                        <td>
                                            @if (item.Status == 0)
                                            {
                                                <span class="label label-primary">Chờ xác nhận</span>
                                            }
                                            else if (item.Status == 1)
                                            {
                                                <span class="label label-warning">Đang giao hàng</span>
                                            }
                                            else if (item.Status == 2)
                                            {
                                                <span class="label label-success">Đã giao hàng</span>
                                            }
                                            else if (item.Status == 3)
                                            {
                                                <span class="label label-danger">Đã hủy</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.ActionLink("Cập nhật trạng thái", "Edit", "Invoice", new { id = item.InvoiceID }, new { @class = "btn btn-primary" })
                                            @Html.ActionLink("Chi Tiết Hóa Đơn", "OrderDetails", "Invoice", new { FKInvoiceID = item.InvoiceID }, new { @class = "btn btn-info" })
                                            <a href="@Url.Action("Delete", "Invoice", new { id = item.InvoiceID })" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa hóa đơn này?')">Xóa Hóa Đơn</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <h2 class="pull-right">Tổng Hóa Đơn: @TempData["InvoiceTotal"]</h2>
                    </div><!-- /.box-footer -->
                </div><!-- /.box -->
            </div>
        </div>
    </section>
</div>