@model FoodOrder.Models.ProductTypes

@{
    ViewBag.Title = "Tạo loại sản phẩm mới";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>
            Tạo loại mặt hàng mới
        </h2>
        <h3 class="text-success">@ViewBag.TextSuccess</h3>
        <h3 class="text-warning">@ViewBag.ErrorMessage</h3>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">ProductTypes</a></li>
            <li class="active">New ProductTypes</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                @using (Html.BeginForm("Create",
                        "ProductTypes",
                        FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="box box-primary">
                        <div class="box-header">
                        </div>
                        <!-- form start -->
                        <form role="form">
                            <div class="box-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductTypeName, htmlAttributes: new { @class = "control-label col-md-2", style="width: 200px;" })
                                        @Html.EditorFor(model => model.ProductTypeName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ProductTypeName, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>
                }
            
            </div>
        </div>
    </section>
</div>