@model FoodOrder.Models.UserChangePasswordModels

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .my-btn {
        background-color: green;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }
</style>

<main id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-content m-b-40">
                    <h5 class="section-content__title text-center">Thay đổi mật khẩu</h5>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <h5 class="text-danger">@ViewBag.ErrorMessage</h5>
                <h5 class="text-success">@TempData["Message"]</h5>
                <div class="login-form-container">
                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="login-register-form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.UserId)
                            <form>
                                <div class="form-box__single-group m-b-20">
                                    <label for="form-uregister-sername-email">Email *</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-box__single-group m-b-20">
                                    <label for="form-register-username-password">Current Password *</label>
                                    <div class="password__toggle">
                                        @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @id = "form-register-username-password" } })
                                        <span data-toggle="#form-register-username-password" class="password__toggle--btn fa fa-fw fa-eye"></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-box__single-group m-b-20">
                                    <label for="form-register-username-password">New Password *</label>
                                    <div class="password__toggle">
                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @id = "form-register-username-newpassword" } })
                                        <span data-toggle="#form-register-username-newpassword" class="password__toggle--btn fa fa-fw fa-eye"></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-box__single-group m-b-20">
                                    <label for="form-register-username-password">Confirm New Password *</label>
                                    <div class="password__toggle">
                                        @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @id = "form-register-username-cnpassword" } })
                                        <span data-toggle="#form-register-username-cnpassword" class="password__toggle--btn fa fa-fw fa-eye"></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })

                                </div>

                                <button class="btn btn--box btn--medium btn--radius btn--black btn--black-hover-green btn--uppercase font--semi-bold" type="submit">SAVE</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

