@model IEnumerable<FoodOrder.Models.InvoiceModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateInvoice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Bill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateInvoice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Bill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceID })
        </td>
    </tr>
}

</table>
